<% tags.forEach(tag => { %>
  <span class="badge text-bg-info m-1">
    <a href="<%= url_for(tag.path) %>" class="text-decoration-none text-reset"><i class="bi bi-hash me-2"></i><%= tag.name %></a>
  </span>
<% }) %> 